In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import  date

In [2]:
data = pd.read_csv('movie_bd_v5.xls',encoding='latin-1')
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [5]:
from itertools import count,combinations
#answers =dict(zip(count(start=1),answer)) will use for recording answers
answer=[]

In [6]:
def add(x):
    answer.append(x)

In [7]:
data.release_date=pd.to_datetime(data['release_date'])

In [8]:
data['profit']=data.revenue-data.budget

In [9]:
def convert(time):
    time=str(time)
    if time in ('01','02','12'):
        return 'winter'
    elif time in ('03','04','05'):
        return 'spring'
    elif time in('06','07','08'):
        return 'summer'
    return 'autumn'

In [10]:
data['month']=data.release_date.apply(lambda x: x.strftime('%m'))
data['season']=data.month.apply(convert)
data['length_titel']=data.original_title.apply(lambda x: len(x))
data['words_overview']=data.overview.apply(lambda x: len(x.split()))
data['couple']=combinations(data.cast,2)

In [11]:
def no_brackets(bracket):
    bracket_1=bracket.replace('(','')
    bracket_2=bracket_1.replace(')','')
    return bracket_2
data.production_companies=data.production_companies.apply(no_brackets)

In [12]:
def couple(row):
    row=row.split("|")
    couple=combinations(row,2)
    for name in couple:
        return name

# 1. У какого фильма из списка самый большой бюджет?

# Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [14]:
# тут пишем ваш код для решения данного вопроса:
ans_1=data.loc[data.budget==data.budget.max()][['original_title','imdb_id']]
a1=str("{} ({})".format(ans_1.iloc[0]['original_title'],ans_1.iloc[0]['imdb_id']))
add(a1)

ВАРИАНТ 2

In [15]:
data['budget'].sort_values(ascending=False)
data.iloc[723][['original_title','imdb_id']]

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [17]:
data.runtime.sort_values(ascending=False)
data.loc[1157][['original_title','imdb_id']]

original_title    Gods and Generals
imdb_id                   tt0279111
Name: 1157, dtype: object

In [18]:
ans_2=data.loc[data.runtime==data.runtime.max()][['original_title','imdb_id']]
a2=str("{} ({})".format(ans_2.iloc[0]['original_title'],ans_2.iloc[0]['imdb_id']))
add(a2)

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
ans_3=data.loc[data.runtime==data.runtime.min()][['original_title','imdb_id']]
a3=str("{} ({})".format(ans_3.iloc[0]['original_title'],ans_3.iloc[0]['imdb_id']))

In [20]:
add(a3)

# 4. Какова средняя длительность фильмов?

In [21]:
a4=round(data.runtime.mean())

In [22]:
add(a4)

# 5. Каково медианное значение длительности фильмов?

In [23]:
a5=round(data.runtime.median())

In [24]:
add(a5)

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
# лучше код получения столбца profit вынести в Предобработку что в начале
ans_6=data.loc[data.profit==data.profit.max()][['original_title','imdb_id']]
a6=str("{} ({})".format(ans_6.iloc[0]['original_title'],ans_6.iloc[0]['imdb_id']))

In [26]:
add(a6)

# 7. Какой фильм самый убыточный?

In [27]:
ans_7=data.loc[data.profit==data.profit.min()][['original_title','imdb_id']]
a7=str("{} ({})".format(ans_7.iloc[0]['original_title'],ans_7.iloc[0]['imdb_id']))

In [28]:
add(a7)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
a8=data[data.revenue>data.budget].revenue.count()

In [30]:
add(a8)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [31]:
index_2008=data.query('release_year==2008 & revenue > revenue.mean() ').sort_values(by='revenue',ascending=False)
a9=str("{} ({})".format(index_2008.iloc[0]['original_title'],index_2008.iloc[0]['imdb_id']))

In [32]:
add(a9)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [33]:
fail=data.query('2012<=release_year<=2014').sort_values(by='profit')
a10=str("{} ({})".format(fail.iloc[0]['original_title'],fail.iloc[0]['imdb_id']))

In [34]:
add(a10)

# 11. Какого жанра фильмов больше всего?

In [35]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
dict_for_genres=dict(Counter(data['genres'].str.cat(sep='|').split('|')))
a11=max(dict_for_genres, key=dict_for_genres.get)

In [36]:
add(a11)

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
good_film=dict(Counter(data[data.profit>0].genres.str.cat(sep='|').split('|')))
a12=max(good_film, key=good_film.get)

In [38]:
add(a12)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [39]:
director_df=data[['revenue','director']]

In [40]:
director_dir={}
for item in director_df['director']:
    some=item.split('|')
    for name in some:
        if name  not in director_dir:
            sum_value=director_df[director_df.director.str.contains(name)].revenue.sum()
            director_dir[name]=sum_value
        continue

In [41]:
a13=max(director_dir,key=director_dir.get)

In [42]:
add(a13)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [43]:
action_dic={}
Action=data[data.genres.str.contains('Action')]
for item in Action.director:
    list_name=item.split('|')
    for name in list_name:
        if name not in action_dic:
            sum_value=Action[Action.director.str.contains(name)].genres.count()
            action_dic[name]=sum_value
        continue

In [44]:
a14=max(action_dic,key=action_dic.get)
add(a14)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [45]:
Actor_dic={}
film_2012=data[data.release_year==2012]

for item in film_2012.cast:
    actor_list=item.split('|')
    for name in actor_list:
        if name not in Actor_dic:
            sum_value=film_2012[film_2012.cast.str.contains(name)].revenue.sum()
            Actor_dic[name]=sum_value
        continue

In [46]:
a15=max(Actor_dic,key=Actor_dic.get)
add(a15)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [47]:
expensive=data[data.budget>data.budget.mean()]
expensive_dic={}
for item in data.cast:
    actor_list=item.split('|')
    for name in actor_list:
        if name not in expensive_dic:
            sum_value=expensive[expensive.cast.str.contains(name)].imdb_id.count()
            expensive_dic[name]=sum_value
        else:
            continue

In [48]:
a16=max(expensive_dic,key=expensive_dic.get)
add(a16)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [49]:
Nicolas=dict(Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')))
a17=max(Nicolas,key=Nicolas.get)
add(a17)

# 18. Самый убыточный фильм от Paramount Pictures

In [50]:
Paramount_Pictures=data[data.production_companies.str.contains('Paramount Pictures')].profit.min()
ans_18=data[data.profit==Paramount_Pictures][['original_title','imdb_id']]
a18=str("{} ({})".format(ans_18.iloc[0]['original_title'],ans_18.iloc[0]['imdb_id']))
add(a18)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [51]:
good_year=data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
a19=good_year.index[0]

In [52]:
add(a19)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [53]:
Warner_Bros=data[data.production_companies.str.contains('Warner Bros')]
good_year_warner=Warner_Bros.groupby('release_year')['profit'].sum().sort_values(ascending=False)
a20=good_year_warner.index[0]
add(a20)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
good_month=data.groupby('month')['imdb_id'].count().sort_values(ascending=False)
a21=good_month.index[0]
add(a21)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
summer=data[data.season=='summer'].imdb_id. count()
a22=summer
add(a22)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
winter_dir={}
winter_df=data[data.season=='winter']
for item in winter_df['director']:
    some=item.split('|')
    for name in some:
        if name not in winter_dir:
            sum_value=winter_df[winter_df.director.str.contains(name)].imdb_id. count()
            winter_dir[name]=sum_value
        continue

In [57]:
a23=max(winter_dir,key=winter_dir.get)
add(a23)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
list_production=set(data['production_companies'].str.cat(sep='|').split('|'))
production_dr={}
for name_list in list_production:
    filter_name=data[data.production_companies.str.contains(name_list)].length_titel.mean()
    production_dr[name_list]=filter_name

In [59]:
a24=max(production_dr,key=production_dr.get)
add(a24)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
production_dr2={}
for name_list2 in list_production:
    filter_name2=data[data.production_companies.str.contains(name_list2)].words_overview.mean()
    production_dr2[name_list2]=filter_name2

In [61]:
a25=max(production_dr2,key=production_dr2.get)
add(a25)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
best_film=data[['original_title','vote_average']].sort_values(by='vote_average',ascending=False)
sl=round(best_film.size*0.01)
slice_best=best_film.loc[:sl]
concat=slice_best.original_title.str.cat(sep='\n').split('\n')
a26=str("{}".format(concat))
add(a26)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
actor_dic=dict(Counter(data.cast.apply(couple)))

In [64]:
a27=max(actor_dic,key=actor_dic.get)
add(a27)

ВАРИАНТ 2

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers =dict(zip(count(start=1),answer))
answers

{1: 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 2: 'Gods and Generals (tt0279111)',
 3: 'Winnie the Pooh (tt1449283)',
 4: 110,
 5: 107,
 6: 'Avatar (tt0499549)',
 7: 'The Lone Ranger (tt1210819)',
 8: 1478,
 9: 'The Dark Knight (tt0468569)',
 10: 'The Lone Ranger (tt1210819)',
 11: 'Drama',
 12: 'Drama',
 13: 'Peter Jackson',
 14: 'Robert Rodriguez',
 15: 'Chris Hemsworth',
 16: 'Matt Damon',
 17: 'Action',
 18: 'K-19: The Widowmaker (tt0267626)',
 19: 2015,
 20: 2014,
 21: '09',
 22: 450,
 23: 'Peter Jackson',
 24: 'Four By Two Productions',
 25: 'Midnight Picture Show',
 26: "['The Dark Knight', 'Interstellar', 'The Imitation Game', 'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl', '12 Years a Slave', 'Guardians of the Galaxy', 'The Lord of the Rings: The Return of the King', 'Memento', 'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her', 'Spotlight', 'Big Hero 6', 'The Fault in Our Stars', 'The Lord of the Rings: The Two Towers', 'There Will Be Blood', 'The Theory of Everything', 'The Lord of the Rings: The Fellowship of the Ring', 'The Prestige', 'Eternal Sunshine of the Spotless Mind', '3 Idiots', 'Mr. Nobody', 'Prisoners', 'Dallas Buyers Club', 'Straight Outta Compton']",
 27: ('Daniel Radcliffe', 'Rupert Grint')}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27